<h3 id="room" data-room="<%= @room.name %>"><%= "#{@room.name}部屋" %></h3>

<div class="container">
  <!-- Video area -->
  <div class="pure-u-2-3" id="video-container">
    <div id="their-videos"></div>
    <div>
      <label id="my-label"></label>
      <video id="my-video" muted="true" autoplay playsinline></video>
    </div>
  </div>

  <!-- Steps -->
  <div class="">
    <h3>Settigns</h3>

    <div class="select">
      <label for="audioSource">Audio input source: </label><select id="audioSource"></select>
    </div>

    <div class="select">
      <label for="videoSource">Video source: </label><select id="videoSource"></select>
    </div>

    <!-- キャンバスの作成 -->
    <button onClick="face_start()">スタート</button>
    <canvas id="canvas" width="480px" height="270px"></canvas>

    
	<h3>Action</h3>
    <div id="step2">
      <button id="participate" class="btn btn-success">参加する</button>
      <button id="game-start" class="btn btn-success">ゲーム開始</button>

	  <button id="end-call" class="btn btn-warning">Tel Off</button>
	  <%= link_to "部屋を出る", root_path , class: "btn btn-default" %>
    </div>

  </div>
</div>

<%= javascript_pack_tag 'game' %>

<style type="text/css">
#canvas {display:none;}
</style>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script>
var count = 0;
  function send_face(){
    count++;
    var canvas = document.getElementById("canvas");
    var video = document.getElementById("my-video");
    canvas.getContext("2d").drawImage(video, 0, 0, 480, 270);//この行でスクリーンショットを取っている

    let data = canvas.toDataURL('image/jpeg');
      fetch(data)
        .then(res => res.blob())
        .then(blobData => {
          console.log("aaaaa")
          console.log(blobData)
          var params = {
            "returnFaceId": "false",
            "returnFaceLandmarks": "false",
            "returnFaceAttributes":
                "emotion"
          };
          $.ajax({
              url: "https://japaneast.api.cognitive.microsoft.com/face/v1.0/detect"+ "?" + $.param(params),
              contentType: "application/octet-stream",
              headers: {
                'Ocp-Apim-Subscription-Key': ""
              },
              type: "POST",
              processData: false,
              data: blobData
            })

            .done(function(data) {
            // Show formatted JSON on webpage.
            console.log("get")
              console.log(data[0]["faceAttributes"]["emotion"])//ここで感情を取得できた
            })

            .fail(function(err) {
              console.log("b")
              $("#results").text(JSON.stringify(err));
            })
        });
  }
  function face_start(){
    var id = setInterval(function(){
      console.log("count")
    send_face();
    if(count > 3){　
      clearInterval(id);　//idをclearIntervalで指定している
    }}, 5000);
  }
</script>

