/* before login */
.top_wrapper {
	width: 100%;
	height: 100%;
}

.top_img {
	width: 100%;
	height: 100%;
	display: inline-block;
	position: fixed;
}

.top_text {
	position: absolute;
	display: inline-block;
	top: calc(50% - 80px);
	left: 55%;
	text-align: center;
}

.top_title {
	font-size: 64px;
	color: #fff;
	cursor: default;
	font-weight: 100;
	letter-spacing: 20px;
}

.top_title span {
	display: none;
}

.start_btn {
	display: inline-block;
	color: #fff;
	cursor: pointer;
	position: absolute;
	top: 60%;
	left: 70%;
}

.sign_modal {
	display: none;
	position: absolute;
	top: calc(50% - 150px);
	left: 60%;
	text-align: center;
	width: 250px;
}

.sign_in_modal {
	display: none;
	color: #fff;
}

.sign_up_modal {
	display: none;
	color: #fff;
}



.sign_btn {
	cursor: pointer;
}


/* before login */




/* after login */

body {
	background-image: url('/assets/header.jpg');
	background-position: center;
	background-size: cover;
}

input[type=text] {
	line-height: 0!important;
}

[type=submit] {
	-webkit-appearance: push-button!important;
}

.index_wrapper {
	position: fixed;
	top: 70px;
	bottom: 50px;
	right: 8%;
	left: 8%;
	width: 84%;
	overflow: scroll;
}


.index_room {
	width: 100%;
}

.room {
	display: inline-block;
	width: 25%;
	float: left;
	text-align: center;
	padding: 30px 20px 0;
	text-decoration: none;
}

.room_back {
	position: absolute;
	height: 200px;
	top: 0;
	left: 0;
	width: 100%;
}

.room a {
	position: relative;
	display: block;
}

.room_content {
	transform: rotateY(0deg);
	transition: transform 700ms 150ms;
}

.room a:hover .room_content {
	transform:rotateY(180deg);
	transition: transform 700ms;
}

.room_name {
	transform: rotateY(0deg);
	transition: transform 700ms 150ms;
}

.room a:hover .room_name {
	transform:rotateY(-180deg);
	transition: transform 700ms;
}

.room_create_user {
	transform: rotateY(0deg);
	transition: transform 700ms 150ms;
}

.room a:hover .room_create_user {
	transform:rotateY(-180deg);
	transition: transform 700ms;
}


.room_content {
	border: 1px solid black;
	border-radius: 5px;
	height: 200px;
	background-color: #fff;
	color: #000;
	position: relative;
}

.room_name, .room_create_user, .room_count_user {
	display: inline-block;
	text-decoration: none;
	width: 100%;
}

.room_name {
	margin-top: 40px;
	font-size: 24px;	
}

.room_create_user {
	margin-top: 16px;
}

.room_count_user {
	margin-top: 16px;
}

.room_icon {
	position: absolute;
}

.room_icon img {
	width: 20px;
}

.heart_icon {
	top: 5px;
	left: 10px;
}

.diamond_icon {
	bottom: 10px;
	right: 10px;
}

.spade_icon {
	top: 5px;
	right: 10px;
}

.clover_icon {
	bottom: 10px;
	left: 10px;
}

footer {
	text-align: center;
}

.footer_right a {
	color: white;
}

/* after login */

