 * {
 	margin:0;
 	padding:0;
 }
body {
	/* background-color:green; */
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.container-fluid {
	padding:0 !important;
}

.remoteVideos {
	/*相手のビデオタグの大きさ*/
	width:460px;
}

.their-video-wrapper{
	height: 100vh;
	width:75%;
	padding: 150px 0;
}

#their-videos div {
	margin:0 auto;
	float:left;
	margin:30px 20px;
}

#room {
	text-align:center;
}

#their-videos label {
	display:none;
}

#my-cards {
	height:150px;


}

#their-cards {
	height:150px;
}

#step2 {
	text-align:center;
}

#canvas {display:none;}


#my-video {
	width:350px;
	height:260px;
}

.my-video-con {
	height:280px;
	float:right;
	position: fixed;
	bottom: 10px;
	right: 20px;
	border:10px solid blue;
}

.flash_red {
	border:10px solid red;
  	animation: borderFlashing 1s ease infinite alternate;
}

@keyframes borderFlashing {
  0% {
    border: 10px solid red;
  }
  100% {
    border: 10px solid transparent;
  }
}








/* shota edit */


.card_wrapper {
	height: 100px;
	width: 100px;
	float: left;
}

.card_wrapper p {
	display: inline-block;
	height: 100px;
	width: 100px;
	margin-bottom: 0;
	text-align: center;
	line-height: 90px;

	font-size: 24px;
	color: aliceblue;
}

.card img {
	width: 85px;
	height: 85px;
	position: absolute;
	top: 7.5px;
	left: 7.5px;
}

.diamond {
	background-image: url('/assets/diamond.svg');
	background-size: cover;
}

.heart {
	background-image: url('/assets/heart.svg');
	background-size: cover;
}

.spade {
	background-image: url('/assets/spade.svg');
	background-size: cover;
}

.club {
	background-image: url('/assets/clover.svg');
	background-size: cover;
}

/* shota edit */