 * {
 	margin:0;
 	padding:0;
 }
body {
	background-color:green;
}

 .clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.container-fluid {
	padding:0 !important;
}

.remoteVideos {
	/*相手のビデオタグの大きさ*/
	width:460px;
}

.my-video-wrapper {
	float:right;
	height:100%;
	width:30%;
}

.their-video-wrapper{
	float:left;
	width:70%;
	padding-bottom:100px;
	padding-top:200px;
}

#their-videos div {
	margin:0 auto;
	float:left;
	margin:30px 20px;
}

#my-video {
	width:400px;
	height:300px;
}


#room {
	text-align:center;
}

#their-videos label {
	display:none;
}

#their-cards {
	width:70%;
	height:100px;
	background-color:black;
	position: fixed;
	bottom: 0;
	left:0;
}

#my-cards {
	width:70%;
	position:fixed;
	top:0;
	left:0;
	height:200px;
	background-color:black;
}

#step2 {
	text-align:center;
}

#canvas {display:none;}

.my-video-con {
	height:320px;
	float:right;
	position: fixed;
	bottom: 0px;
	right:0;
	border:10px solid blue;
}

.flash_red {
	border:10px solid red;
  	animation: borderFlashing 1s ease infinite alternate;
}

@keyframes borderFlashing {
  0% {
    border: 10px solid red;
  }
  100% {
    border: 10px solid transparent;
  }
}








/* shota edit */

/* shota edit */